@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 193, 203, 218;
  --background-rgb: 0, 8, 20;
}

body {
  color: rgb(var(--color-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }

  .link-underline-yellow {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(yellow, yellow);
  }

  .link-underline-active {
    background-size: 100% 3px;
    background-position: 0 100%;
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}

@layer base {
  h1 {
    @apply font-extrabold text-5xl;
  }
  h2 {
    @apply font-bold text-2xl;
  }
  h3 {
    @apply font-bold text-lg;
  }
  h4 {
    @apply text-lg;
  }
}
