@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 193, 203, 218;
  --background-start-rgb: 0, 8, 20;
  --background-end-rgb: 0, 8, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }

  .link-underline-yellow {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(yellow, yellow);
  }

  .link-underline-active {
    background-size: 100% 3px;
    background-position: 0 100%;
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
}

@layer base {
  h1 {
    @apply font-extrabold text-5xl;
  }
  h2 {
    @apply font-bold text-2xl;
  }
  h3 {
    @apply font-bold text-lg;
  }
  h4 {
    @apply text-lg;
  }
  input,
  textarea {
    @apply w-full p-3 rounded text-sm font-medium placeholder:text-[#05101ba5] bg-[#C1CBDA] text-[#05101b];
  }
  textarea {
    @apply resize-none transition-all overflow-hidden;
  }
}
